/* Slide 16:9 - 1 */

.MainPanel{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
}

.ShowPanel{
    position: absolute;
    width: 1050px;
    height: 552px;
    left: calc(50% - 1050px/2 - 3px);
    top: 27px;

    background: #C4C4C4;

}

.Position1{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 40px;
    top: 27px;
    background: #dddddd;
}
.Position2{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 40px;
    top: 250px;
    background: #dddddd;
}
.Position3{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 40px;
    top: 473px;

    background: #dddddd;
}
.Position4{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 40px;
    top: 696px;
    background: #dddddd;
}
.Position5{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 1537px;
    top: 27px;

    background: #dddddd;
}
.Position6{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 1537px;
    top: 250px;

    background: #dddddd;
}
.Position7{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 1537px;
    top: 473px;
    background: #dddddd;
}
.Position8{
    position: absolute;
    width: 343px;
    height: 205px;
    left: 1537px;
    top: 696px;
    background: #dddddd;
}
.PanelAvatar{
    position: relative;
    height: 100px;
    width: 100px;
    left: 30px;
    /* right: 1718px; */
    /*background: black;*/
    top: 17px;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotatePic{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
    /*-webkit-transition:-webkit-transform 1s linear;*/
    /*transition:transform 1s linear;*/
    -webkit-animation: spin 1s linear 1s 5 alternate;
    animation: spin 1s linear infinite;
}
.PanelName{
    position: relative;
    height: 40px;
    width: 120px;
    left: 21px;
    right: 1719px;
    top: 40px;
    color: white;
    background: #1B0F0F;
    line-height: 40px;
    font-size: 22px;
}

.PanelCard{
    position: relative;
    height: 93px;
    left: 170px;
    width: 150px;
    right: 1558px;
    top: -120px;
    background: #F7FC01;
}

.PanelPoint{
    position: relative;
    height: 65px;
    left: 164px;
    width: 164px;
    right: 1558px;
    top: -104px;
    font-size: 30px;
    line-height: 65px;
    background-image: url("/img/point_bg.png");
    /*background: #FF0B0B;*/
    text-align: right;
    font-family: fantasy;

}

.UserPanel{
    position: absolute;
    width: 1050px;
    height: 297px;
    left: 432px;
    top: 605px;
    background: #61bfff;
}

.UserAvatar{
    position: relative;
    width: 176px;
    height: 176px;
    left: 20px;
    top: 20px;
    background: #FF0000;
    border-radius: 50%;
    overflow: hidden;
}

.UserName{
    position: relative;
    width: 176px;
    height: 57px;
    left: 20px;
    top: 42px;
    background: #aa0101;
    line-height: 57px;
    font-size: 30px;
}

.UserOperationList{
    position: relative;
    width: 488px;
    height: 144px;
    left: 246px;
    top: -200px;
}

.UserOperationItem{
    display: inline-block;
    width: 76px;
    height: 94px;
    background: #C4C4C4;
    margin: 23px 11px 10px 10px;
    position: relative;
    cursor: pointer;
}

.UserOperationPanel{
    top: 56%;
    position: fixed;
    background: #07a8b1;
    width: 465px;
    height: 231px;
    z-index: 5;
    display: none;
}
.GameOperationPanel{
    top: 5%;
    position: fixed;
    /*background: #07a8b1;*/
    width: 600px;
    height: 800px;
    left: 34%;
    z-index: 10;
    /*display: none;*/
}

.GameOperationButton{
    width: 100%;
    height: 400px;
    line-height: 400px;
    margin: auto;
}

.RaiseButton{
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background: aquamarine;
    margin: 2px;
}

.UserInfo{
    position: absolute;
    width: 485px;
    height: 94px;
    left: 246px;
    top: 194px;
    background: #008F0E;

}

.UserCard{
    position: absolute;
    width: 270px;
    height: 210px;
    left: 755px;
    top: 60px;
    /*background: #BDFF00;*/
}

.UserCardItem{
    width: 114px;
    height: 160px;
    /* background: #E80; */
    display: inline-block;
    margin: 20px 11px 8px 10px;
}

.CardListLine{
    height: 200px;
    width: 100%;
}

.GrayCover{
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter:grayscale(100%);
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)
}

.ShowUserOperationListPanel{
    width: 50%;
    display: inline-block;
}


.ShowGameRoundInfoPanel{
    width: 50%;
    display: inline-block;

}


.ShowGameRoundInfoPanel p{
    color:#ca0808;
    font-weight: 500;
    line-height: 30px;
    font-size: 24px;

}


/**
抄来的金币掉落样式
**/
.snow-demo-wrapper {
    background: #DFEAFF;
    overflow: hidden;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .snow-demo {
    width: 300px;
    height: 90%;
    margin: auto;
    position: relative;
    background-image: url(https://gw.alipayobjects.com/zos/rmsportal/dNpuKMDHFEpMGrTxdLVR.jpg);
    background-position: top;
    background-size: 100% auto;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  }
  
  .snow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  
  .snowChild {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .snowRotate {
    transform-origin: center center;
  } 

